body { padding-top: 70px; }

.up {
    color: #093;
}
.down {
    color: #d14836;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row-sm-padding > [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}