// How to import font locally
/* latin-ext */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('./fonts/Lato-Regular.ttf');
//   unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
// }
// /* latin */
// @font-face {
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: 400;
//   src: local('./fonts/Lato-Regular.ttf');
//   unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
// }

// body {
//     color: $base-font-color;
//     line-height: $base-line-height
// }

// Typography

body, html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-font-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

button, html, input, select, textarea {
  font-family: Lato, "jaf-facitweb", -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Headers

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin: 1.3rem 0;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.45em;
}

h3 {
  font-size: 1.15em;
}

h4, h5, h6 {
  font-size: 1em;
}


// Bold

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}


// Block Quotes

blockquote {
  border-left: 2px solid $light-gray-300;
  padding-left: 1em;
  margin: 1em 0;
}


// Pre / Code

pre {
  background-color: $light-gray-50;
  border: 1px solid $light-gray-200;
  border-radius: .4em;
  font-size: .8em;
  overflow: auto;
  padding: .6em .8em;
  word-break: normal;
  word-wrap: normal;
}

code {
  background-color: $light-gray-50;
  border: 1px solid $light-gray-200;
  border-radius: .2em;
  color: $red-400;
  font-family: "fira-mono", monospace;
  padding: 0 .3em;
  margin: 0 .1em;
  border-radius: .2em;
}

  pre > code {
    background-color: none;
    border: none;
    border-radius: 0;
    color: $default-font-color;
    margin: 0;
    padding: 0;
  }


// Links

a {
// color: $trello-blue-400;
// Trello site is #444
  color: #444;
  text-decoration: none;
}

  a:hover,
  a:visited:hover {
    // color: $trello-blue-900;
    // Trello site is #111
    color: #111;
  }

  a.active, a:hover {
    outline: 0;
  }
//   a:visited {
//     color: $trello-blue-500;
//   }


// Horizontal Rule

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $light-gray-300;
  margin: 2em 0;
  padding: 0;
}


// Selection

::selection {
  background: $trello-blue-100;
  text-shadow: none;
}


// Smaller Screens

// @media #{$small} {

//   body {
//     font-size: 16px;
//   }

// }

// https://v4-alpha.getbootstrap.com/layout/overview/
@include media-breakpoint-down(sm) {
  body, html {
    font-size: 16px;
  }
}

@include media-breakpoint-between(sm, md) {
  body, html {
    font-size: 18px;
  }
}

@include media-breakpoint-between(md, lg) {
  body, html {
    font-size: 20px;
  }
}

@include media-breakpoint-up(lg) {
  body, html {
    font-size: 22px;
  }
}
