// Button

// There are a few types of buttons you can use: a <button> tag, a
// <input type="submit">, and an <a class="button"> tag. They largely look the
// same, but have different functions…

// If clicking takes you to another page, use an <a> tag.
// If clicking triggers something on the page via JavaScript, use a <button>.
// If it submits a form, use <input type="submit">. (You probably want
// .mod-primary, too)

a.button,
input[type="submit"],
button {
  &:not(.mod-bare):not(.react-datepicker__navigation) {
    background: linear-gradient(to bottom, $light-gray-100 0%, $light-gray-200 100%);
    border: 0;
    border-radius: .3em;
    box-shadow: 0 1px 0 $light-gray-700;
    color: $default-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.2;
    margin: .3em .3em .3em 0;
    outline: 0;
    padding: .7em 1.2em;
    position: relative;
    text-decoration: none;

    // No Margin
    &.mod-no-margin {
      margin: 0;
    }

    // Full
    &.mod-full {
      width: 100%;
    }

    // No Padding
    &.mod-icon {
      padding: .4em .6em;
    }

    // small
    &.mod-small {
      font-size: .7em;
      padding: .54em 0.93em;
    }

    // States
    // There is no disabled state for <a> tags
    &[disabled] {
      background: $light-gray-100;
      box-shadow: none;
      color: $quiet-font-color;
      cursor: default;
      font-weight: 300;
    }


    &:not([disabled]) {
      &:focus,
      &:hover {
        background: linear-gradient(to bottom, $light-gray-200 0%, $light-gray-300 100%);
        color: $default-font-color;
      }
      &:active {
        background: linear-gradient(to bottom, $light-gray-300 0%, $light-gray-400 100%);
        color: $default-font-color;
      }
    }

    // Modifiers
    // Primary

    // For primary actions like confirming or saving. Generally, you should only
    // have one primary action per form.
    &.mod-primary {
      background: linear-gradient(to bottom, $green-500 0%, $green-600 100%);
      box-shadow: 0 1px 0 $green-900;
      color: #fff;
      padding-left: 1.8em;
      padding-right: 1.8em;

      &:not([disabled]) {
        &:focus,
        &:hover {
          background: linear-gradient(to bottom, $green-600 0%, $green-700 100%);
          color: #fff;
        }
        &:active {
          background: linear-gradient(to bottom, $green-700 0%, $green-800 100%);
          color: #fff;
        }
      }
    }

    // Danger

    // For dangerous actions like deleting where there might be a way to go back.
    &.mod-danger {
      color: $red-500;
      &:not([disabled]) {
        &:focus,
        &:hover {
          background: linear-gradient(to bottom, $red-500 0%, $red-600 100%);
          box-shadow: 0 1px 0 $red-900;
          color: #fff;
        }
        &:active {
          background: linear-gradient(to bottom, $red-600 0%, $red-700 100%);
          box-shadow: 0 1px 0 $red-900;
          color: #fff;
        }
      }
    }

    // Transparent

    // Used within the page on sections with a non-white background.
    // Don’t use on forms or major call-outs.
    &.mod-transparent {
      background: fadeout($light-gray-500, 70%);
      box-shadow: 0 1px fadeout($light-gray-800, 30%);
      color: hsla(0, 0%, 0%, .7);
      font-weight: normal;
      &:not([disabled]) {
        &:focus,
        &:hover {
          background: fadeout($light-gray-500, 60%);
          box-shadow: 0 1px fadeout($light-gray-800, 40%);
          color: hsla(0, 0%, 0%, .9);
        }
        &:active {
          background: fadeout($light-gray-500, 50%);
          box-shadow: 0 1px fadeout($light-gray-800, 50%);
          color: hsl(0, 0%, 0%);
        }
      }
      &.mod-dark-background {
        color: #fff;
        box-shadow: 0 1px hsla(0, 0%, 0%, 10%);
      }
      &.mod-light-background {
        background: #fff;
        box-shadow: 0 1px fadeout($light-gray-800, 70%);
        &:not([disabled]) {
          &:focus,
          &:hover {
            background: hsla(0, 0%, 100%, .7);
            box-shadow: 0 1px fadeout($light-gray-800, 80%);
          }
          &:active {
            background: hsla(0, 0%, 100%, .5);
            box-shadow: 0 1px fadeout($light-gray-800, 90%);
          }
        }
      }
    }
  }
}
// Inline

button.mod-inline {
  box-shadow: 0 1px 0 $light-gray-500;
  display: inline;
  font-size: .8em;
  padding: .3em .8em;
}

// Media Queries

@media print {

  a.button,
  input[type="submit"],
  button {
    border: 1px solid $default-font-color;
    color: $default-font-color;
  }
}
