// Tables

table {
  // font-size: .9em; // Default trellisheet value
  font-size: .7em;
  margin-bottom: 1em;
  width: 100%;
}

table,
td,
th {
//   vertical-align: top; //original value in Trellisheet
  vertical-align: bottom;
  border-top: 1px solid $light-gray-300;
  border-left: 1px solid $light-gray-300;
}

td,
th {
  padding: .4em .6em;
  border-right: 1px solid $light-gray-300;
  border-bottom: 1px solid $light-gray-300;
  text-align: left;
}

th {
  font-weight: bold;
}

thead {
  background: linear-gradient(to bottom, $light-gray-50 0%, $light-gray-100 100%);
}

tbody {
  background-color: #fff;
}

.table-category {
  background: $light-gray-900;
  color: white;

  .toggle-label {
    cursor: pointer;
  }

  :hover {
    background: $light-gray-800;
  }
}

.table-compact {
  th {
    font-size: .8em;
    max-width: 5em;
    word-wrap: break-word;
  }
}

.table-sticky-first-column {
    tr:not(.table-category) {
      background: inherit;
      td:first-child, th:first-child{
          position: sticky;
          left: 0;
          background: inherit;
      }
    }
    tr.table-category > td > .table-category-title {
      position: sticky;
      left: 5px;
    }
    &.table-striped {
      tbody tr:nth-of-type(odd) td:first-child {
        background-color: $light-gray-100;
      }
    }
}
